button {
  margin: 0;
  font-family : "Inter", Helvetica, sans-serif;
  justify-content: start;
  padding: 1rem;
  border: none;
  background: none;
  text-decoration: none;
}

.IconButton:hover,
.IconButton:focus,
.IconButton:active {
  background: rgb(17, 17, 17);
  color: rgb(255,255,255);
}